In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [52]:
df = pd.read_csv('Total Emissions Per Country (2000-2020).csv', sep = ';')

In [53]:
df.head(5)

,Area,Item,Element,Unit,2000,2001,2002,2003,2004,2005,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Afghanistan,Crop Residues,Direct emissions (N2O),kilotonnes,0.520,0.5267,0.8200,0.9988,0.8225,1.1821,...,1.0321,1.3726,1.4018,1.4584,1.2424,1.1940,1.0617,0.8988,1.2176,1.3170
1,Afghanistan,Crop Residues,Indirect emissions (N2O),kilotonnes,0.117,0.1185,0.1845,0.2247,0.1851,0.2660,...,0.2322,0.3088,0.3154,0.3281,0.2795,0.2687,0.2389,0.2022,0.2740,0.2963
2,Afghanistan,Crop Residues,Emissions (N2O),kilotonnes,0.637,0.6452,1.0045,1.2235,1.0075,1.4481,...,1.2643,1.6815,1.7173,1.7865,1.5220,1.4627,1.3005,1.1011,1.4916,1.6133
3,Afghanistan,Crop Residues,Emissions (CO2eq) from N2O (AR5),kilotonnes,168.807,170.9884,266.1975,324.2195,266.9995,383.7498,...,335.0379,445.5958,455.0727,473.4174,403.3181,387.6130,344.6447,291.7838,395.2689,427.5284
4,Afghanistan,Crop Residues,Emissions (CO2eq) (AR5),kilotonnes,168.807,170.9884,266.1975,324.2195,266.9995,383.7498,...,335.0379,445.5958,455.0727,473.4174,403.3181,387.6130,344.6447,291.7838,395.2689,427.5284

In [54]:
df.shape

(58765, 25)

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58765 entries, 0 to 58764
Data columns (total 25 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Area     58765 non-null  object
 1   Item     58765 non-null  object
 2   Element  58765 non-null  object
 3   Unit     58765 non-null  object
 4   2000     55577 non-null  float64
 5   2001     54038 non-null  float64
 6   2002     54137 non-null  float64
 7   2003     54158 non-null  float64
 8   2004     54163 non-null  float64
 9   2005     54431 non-null  float64
 10  2006     54473 non-null  float64
 11  2007     54315 non-null  float64
 12  2008     54296 non-null  float64
 13  2009     54283 non-null  float64
 14  2010     54714 non-null  float64
 15  2011     54136 non-null  float64
 16  2012     54614 non-null  float64
 17  2013     54501 non-null  float64
 18  2014     54379 non-null  float64
 19  2015     54289 non-null  float64
 20  2016     54252 non-null  float64
 21  2017     54076 non-null  float64
 22  2018     54024 non-null  float64
 23  2019     53988 non-null  float64
 24  2020     53671 non-null  float64
dtypes: float64(21), object(4)
memory usage: 11.2+ MB

In [80]:
# En este momento no es posible eliminar las filas que posean valores nulos, ya que se hacerlo, perderÃ­amos todos los demÃ¡s datos por este motivo.
# Se volverÃ¡ a analizar posteriormente el cÃ³mo trabajar los valores nulos/NaN

In [56]:
df.describe()
# Se reconocen emisiones negativas, por ende, el dataset no sÃ³lo contiene emisores de contaminaciÃ³n, sino que agentes aliviadores de esta, como bosques.

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
count,5.557700e+04,5.403800e+04,5.413700e+04,5.415800e+04,5.416300e+04,5.443100e+04,5.447300e+04,5.431500e+04,5.429600e+04,5.428300e+04,...,5.413600e+04,5.461400e+04,5.450100e+04,5.437900e+04,5.428900e+04,5.425200e+04,5.407600e+04,5.402400e+04,5.398800e+04,5.367100e+04
mean,3.856126e+04,3.904216e+04,4.028410e+04,4.100938e+04,4.286727e+04,4.314952e+04,4.444425e+04,4.471660e+04,4.537510e+04,4.548273e+04,...,4.661655e+04,4.684830e+04,4.726650e+04,4.815619e+04,4.861396e+04,4.859484e+04,4.928708e+04,5.020469e+04,5.077654e+04,4.934009e+04
std,5.154896e+05,5.198948e+05,5.330651e+05,5.516273e+05,5.770778e+05,5.899925e+05,6.103802e+05,6.215176e+05,6.353495e+05,6.342332e+05,...,6.749568e+05,6.836862e+05,6.885162e+05,7.002371e+05,7.023532e+05,7.003692e+05,7.107106e+05,7.267194e+05,7.328659e+05,7.085584e+05
min,-3.477871e+06,-3.148175e+06,-3.148175e+06,-3.148175e+06,-3.148175e+06,-3.379504e+06,-3.183029e+06,-3.148175e+06,-3.206885e+06,-3.284492e+06,...,-3.966553e+06,-3.966553e+06,-3.966553e+06,-3.966553e+06,-3.966553e+06,-3.331180e+06,-2.696392e+06,-2.702046e+06,-2.636985e+06,-2.636985e+06
25%,8.800000e-02,5.930000e-02,6.430000e-02,7.172500e-02,6.730000e-02,7.500000e-02,7.510000e-02,8.380000e-02,7.950000e-02,8.520000e-02,...,9.037500e-02,9.400000e-02,8.600000e-02,9.400000e-02,9.900000e-02,9.840000e-02,1.024000e-01,9.540000e-02,1.056750e-01,9.850000e-02
50%,1.818250e+01,1.578825e+01,1.662830e+01,1.739455e+01,1.733800e+01,1.839900e+01,1.794510e+01,1.874600e+01,1.917250e+01,1.928380e+01,...,2.015420e+01,2.029590e+01,2.051560e+01,2.026050e+01,2.099980e+01,2.172340e+01,2.151655e+01,2.103045e+01,2.225050e+01,2.240500e+01
75%,9.975307e+02,9.487612e+02,9.850304e+02,1.024513e+03,1.029695e+03,1.071787e+03,1.052052e+03,1.073137e+03,1.077510e+03,1.081210e+03,...,1.110414e+03,1.128912e+03,1.140294e+03,1.141328e+03,1.161278e+03,1.193939e+03,1.177659e+03,1.166767e+03,1.180875e+03,1.192541e+03
max,3.880104e+07,3.858777e+07,3.977286e+07,4.107819e+07,4.314763e+07,4.407000e+07,4.578420e+07,4.632066e+07,4.721273e+07,4.713105e+07,...,4.913564e+07,4.995763e+07,5.014924e+07,5.110725e+07,5.127620e+07,5.182366e+07,5.252879e+07,5.370033e+07,5.414186e+07,5.201086e+07

In [57]:
df['Item'].unique().tolist()

['Crop Residues',
 'Rice Cultivation',
 'Burning - Crop residues',
 'Enteric Fermentation',
 'Manure Management',
 'Manure left on Pasture',
 'Manure applied to Soils',
 'Synthetic Fertilizers',
 'Drained organic soils',
 'Drained organic soils (CO2)',
 'Drained organic soils (N2O)',
 'On-farm energy use',
 'Forestland',
 'Net Forest conversion',
 'Savanna fires',
 'Fires in organic soils',
 'Forest fires',
 'Fires in humid tropical forests',
 'Waste - agri-food systems',
 'Fertilizers Manufacturing',
 'On-farm electricity use',
 'Food Processing',
 'Food Packaging',
 'Food Retail',
 'Food Household Consumption',
 'Food Transport',
 'Energy',
 'IPPU',
 'Waste',
 'Other',
 'Farm-gate emissions',
 'Land Use change',
 'Emissions on agricultural land',
 'Pre- and post- production',
 'Agri-food systems',
 'IPCC Agriculture',
 'Agricultural Soils',
 'LULUCF',
 'AFOLU',
 'All sectors with LULUCF',
 'All sectors without LULUCF',
 'International bunkers']

In [58]:
df['Element'].unique().tolist()

['Direct emissions (N2O)',
 'Indirect emissions (N2O)',
 'Emissions (N2O)',
 'Emissions (CO2eq) from N2O (AR5)',
 'Emissions (CO2eq) (AR5)',
 'Emissions (CH4)',
 'Emissions (CO2eq) from CH4 (AR5)',
 'Emissions (CO2)',
 'Emissions (CO2eq) from F-gases (AR5)']

In [25]:
# Aseguramos que los nombres de las columnas estÃ©n en formato string
df.columns = df.columns.map(str)

In [59]:
df['Unit'].unique().tolist()

['kilotonnes']

In [61]:
# Eliminamos la columna de unidad, ya que el valor es Ãºnico y no aporta valor
df0 = df.drop(["Unit"], axis=1)

In [13]:
# QuiÃ©nes son los paises que mas emiten
# QuÃ© emiten
# ComparaciÃ³n entre paises
# Comparacion en el mapa
# Evolucion en el tiempo de las emisiones globales

In [82]:
years = [str(i) for i in range(2000,2021)]
df1 = df0.melt(id_vars = ['Area','Item','Element'],value_vars=years, var_name='Anho', value_name='Emisiones [kT]')
df1.head(5)

,Area,Item,Element,Anho,Emisiones [kT]
0,Afghanistan,Crop Residues,Direct emissions (N2O),2000,0.520
1,Afghanistan,Crop Residues,Indirect emissions (N2O),2000,0.117
2,Afghanistan,Crop Residues,Emissions (N2O),2000,0.637
3,Afghanistan,Crop Residues,Emissions (CO2eq) from N2O (AR5),2000,168.807
4,Afghanistan,Crop Residues,Emissions (CO2eq) (AR5),2000,168.807

In [83]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1234065 entries, 0 to 1234064
Data columns (total 5 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Area            1234065 non-null  object
 1   Item            1234065 non-null  object
 2   Element         1234065 non-null  object
 3   Anho            1234065 non-null  object
 4   Emisiones [kT]  1140515 non-null  float64
dtypes: float64(1), object(4)
memory usage: 47.1+ MB

In [86]:
df1["Emisiones [kT]"].isna().sum()

93550

In [88]:
print("Del total de " + str(len(df1.index)) + " registros, " + str(df1["Emisiones [kT]"].isna().sum()) + " corresponden a valores nulos. Estos corresponden al " + str(round(((100*df1["Emisiones [kT]"].isna().sum())/len(df1.index)), 2)) + "% del total de datos. Es por esto que los eliminaremos.")

Del total de 1234065 registros, 93550 corresponden a valores nulos. Estos corresponden al 7.58% del total de datos. Es por esto que los eliminaremos.

In [90]:
# Eliminamos los valores nulos
df2 = df1.dropna()
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1140515 entries, 0 to 1234064
Data columns (total 5 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Area            1140515 non-null  object
 1   Item            1140515 non-null  object
 2   Element         1140515 non-null  object
 3   Anho            1140515 non-null  object
 4   Emisiones [kT]  1140515 non-null  float64
dtypes: float64(1), object(4)
memory usage: 52.2+ MB

# Limpieza de datos lista. df0 tiene los datos limpios, df1 contiene todos los datos disponibles con las columas de aÃ±os como una sola columna, y df2 tiene los datos sin nulos. Cada una en base a la anterior.

In [95]:
# df agrupado por aÃ±o y area
df_group_by_area_wy = df2[["Area", "Anho", "Emisiones [kT]"]].groupby(by=["Area", "Anho"]).sum().reset_index()

# df agrupado sin aÃ±o
df_group_by_area_woy = df2[["Area", "Emisiones [kT]"]].groupby(by=["Area"]).sum().reset_index()

In [96]:
df_group_by_area_wy.head(5)

          Area  Anho  Emisiones [kT]
0  Afghanistan  2000     205885.2201
1  Afghanistan  2001     196907.2112
2  Afghanistan  2002     241671.6773
3  Afghanistan  2003     250927.9447
4  Afghanistan  2004     249268.9710

In [97]:
df_group_by_area_woy.head(5)

             Area  Emisiones [kT]
0     Afghanistan    7.104258e+06
1          Africa    9.899268e+08
2         Albania    2.115320e+06
3         Algeria    3.390865e+07
4  American Samoa   -5.304318e+03

# Aqui quedÃ©

a)  grÃ¡ficas de series de tiempo

b)  grÃ¡ficas comparativas de dos variables en el tiempo 

c)  grÃ¡ficas de distribuciÃ³n estadÃ­stica 

d)  grÃ¡ficas de composiciÃ³n 

e)  grÃ¡ficas de correlaciÃ³n 

f)  nube de palabras clave 

g)  mapas con marcadores o coroplÃ©ticos, de acuerdo al nivel de granularidad de los mapas

Cuales son los paises y tipos de actividad que mas emisiones han generado durante los ultimos 20 aÃ±os

a) serie de tiempo emisiones a lo largo de los aÃ±os
b) comparacion de tipo de emisiones global
c) 
d) Waffle con vacas por pais de sudamerica
e) correlacion entre 
g) Mapa mundi 

Caracterizar en funcion de las emisiones y zona geografica (mapa de chile)

In [14]:
df_Chile = df[df['Area']=='Chile']

In [15]:
df_Chile['Element'].unique()

array(['Direct emissions (N2O)', 'Indirect emissions (N2O)',
       'Emissions (N2O)', 'Emissions (CO2eq) from N2O (AR5)',
       'Emissions (CO2eq) (AR5)', 'Emissions (CH4)',
       'Emissions (CO2eq) from CH4 (AR5)', 'Emissions (CO2)',
       'Emissions (CO2eq) from F-gases (AR5)'], dtype=object)

In [16]:
df_Chile['Item'].unique()

array(['Crop Residues', 'Rice Cultivation', 'Burning - Crop residues',
       'Enteric Fermentation', 'Manure Management',
       'Manure left on Pasture', 'Manure applied to Soils',
       'Synthetic Fertilizers', 'Drained organic soils',
       'Drained organic soils (CO2)', 'Drained organic soils (N2O)',
       'On-farm energy use', 'Forestland', 'Net Forest conversion',
       'Savanna fires', 'Fires in organic soils', 'Forest fires',
       'Fires in humid tropical forests', 'Waste - agri-food systems',
       'Fertilizers Manufacturing', 'On-farm electricity use',
       'Food Processing', 'Food Packaging', 'Food Retail',
       'Food Household Consumption', 'Food Transport', 'Energy', 'IPPU',
       'Waste', 'Other', 'Farm-gate emissions', 'Land Use change',
       'Emissions on agricultural land', 'Pre- and post- production',
       'Agri-food systems', 'IPCC Agriculture', 'Agricultural Soils',
       'LULUCF', 'AFOLU', 'All sectors with LULUCF',
       'All sectors without LULUCF'], dtype=object)